*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	font-family: arial, helvetica, sans-serif;
	font-size: 1.4rem;
}

a {
	color: royalblue;
}


output {
	display: inline-block;
	border: 1px solid;
	padding: 0.5em;
	height: 1em;
	width: 5em;
}

.is-hidden {
	/*visibility: hidden;*/
	opacity: 0;
}
