
.drive-buttons-container,
.lights-buttons-container {
	margin: 2em auto;
	text-align: center;
}

.drive-button,
.lights-button {
	display: inline-block;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	width: 32px;
	height: 32px;
	line-height: 1.7;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.lights-button {
	width: 60px;
}


.lights-button[href="25"]  { background: rgba(255, 255, 205, 0.1); }
.lights-button[href="50"]  { background: rgba(255, 255, 205, 0.2); }
.lights-button[href="75"]  { background: rgba(255, 255, 205, 0.4); }
.lights-button[href="100"] { background: rgba(255, 255, 205, 0.6); }


.drive-button[href="0"]		{ background: rgba(0, 0, 0, 0.05); }
.drive-button[href*="25"]	{ background: rgba(0, 0, 0, 0.10); }
.drive-button[href*="50"]	{ background: rgba(0, 0, 0, 0.15); }
.drive-button[href*="75"]	{ background: rgba(0, 0, 0, 0.20); }
.drive-button[href*="100"]	{ background: rgba(0, 0, 0, 0.32); }


.servo-buttons-container {
	position: relative;
	margin: 0 auto;
	width: 300px;
	height: 150px;
	padding-bottom: 20px;
}

.servo-button {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 50%;
	transform-origin: 0px 150px;
}

.servo-button::after {
	content: '';
	position: absolute;
	box-sizing: border-box;
	display: block;
	top: -16px;
	left: -16px;
	width: 32px;
	height: 32px;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.05);
}

.servo-button[href="-90"] { transform: rotate(-90deg) translateX(-3px); }/* this angle differs 12 deg with next, so adjust a bit */
.servo-button[href="-78"] { transform: rotate(-78deg); }
.servo-button[href="-65"] { transform: rotate(-65deg); }
.servo-button[href="-52"] { transform: rotate(-52deg); }
.servo-button[href="-39"] { transform: rotate(-39deg); }
.servo-button[href="-26"] { transform: rotate(-26deg); }
.servo-button[href="-13"] { transform: rotate(-13deg); }
.servo-button[href="13"]  { transform: rotate(13deg); }
.servo-button[href="26"]  { transform: rotate(26deg); }
.servo-button[href="39"]  { transform: rotate(39deg); }
.servo-button[href="52"]  { transform: rotate(52deg); }
.servo-button[href="65"]  { transform: rotate(65deg); }
.servo-button[href="78"]  { transform: rotate(78deg); }
.servo-button[href="90"]  { transform: rotate(90deg) translateX(3px); }/* this angle differs 12 deg with previous, so adjust a bit */
