
html {
	font-family: arial, sans-serif;
}

button {
	display: inline-block;
	margin: 0 1em 1em 0;
	border: none;
	padding: 1em;
	background: #f30;
	color: white;
}

.log-window {
	min-height: 1em;
	background: beige;
}

.is-hidden {
	visibility: hidden;
}