
html {
	font-family: arial, sans-serif;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

button {
	display: inline-block;
	margin: 0 1em 1em 0;
	border: none;
	padding: 1em;
	background: #f30;
	color: white;
	font: inherit;
}

.log-window {
	min-height: 1em;
	background: beige;
}

.is-hidden {
	visibility: hidden;
}

.footnote {
	font-size: 1.2rem;
}