
html {
	font-family: arial, sans-serif;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

a {
	color: royalblue;
}

.port-title {
	font-size: 1.2rem;
}

/*-- Start buttons --*/

	.btn {
		display: inline-block;
		margin: 0 1em 1em 0;
		border: none;
		padding: 0.8em;
		background: #999;
		color: white;
		font: inherit;
		cursor: pointer;
	}

	.btn--start {
		background: seagreen;
	}
	.btn--start:hover,
	.btn--start:focus {
		background: #20603b;
	}

	.btn--stop {
		background: crimson;
	}
	.btn--stop:hover,
	.btn--stop:focus {
		background: #bb1133;
	}


	.btn--info {
		background: royalblue;
	}
	.btn--info:hover,
	.btn--info:focus {
		background: #1f49c7;
	}

	.btn--is-busy {
		opacity: 0.5;
		cursor: wait;
	}

/*-- End buttons --*/

label {
	margin-left: 0.5em;
}

.symbol {
	font-weight: bold;
	font-size: larger;
}

input[type="range"] {
	width: 8em;
	vertical-align: middle;
}

output {
	display: inline-block;
	border: 1px solid;
	width: 3em;
	padding: 0.5em;
}

.log-window {
	padding: 0.5em;
	font-size: 1.2rem;
	background: beige;
}

.log-window p {
	margin: 0 0 0.3em;
}

.is-hidden {
	/*visibility: hidden;*/
	opacity: 0.2;
}

.footnote {
	font-size: 1.2rem;
}
