.viewport {
	position: relative;
	margin: 0 auto;
	width: 360px;
	height: 560px;
	text-align: center;
}

.screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.connect-screen {
	padding-top: 100px;
}

.busy-indicator {
	position: relative;
	visibility: hidden;
	margin: 0 auto;
	width: 100%;
	padding-top: 50px;
	height: 100px;
	color: #666;
	color: cornflowerblue;
}


@keyframes busy-animation {
	0% {
		transform: scale(0.1);
		opacity: 1;
		background: currentColor;
	}
	15% {
		background: transparent;
	}
	50%,
	100% {
		transform: scale(1.6);
		opacity: 0;
	}
}

.busy-indicator::before,
.busy-indicator::after {
	position: absolute;
	content: '';
	display: block;
	top: -70px;
	left: calc(50% - 50px);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 14px solid;
	border-bottom-color: currentColor;
	color: cornflowerblue;
	animation: busy-animation 1s infinite;
	transform: scale(0.1);
}

.busy-indicator::before {
	animation: busy-animation 1s infinite;
}

.busy-indicator::after {
	animation: busy-animation 1s 200ms infinite;
}

.connect-screen--is-busy .busy-indicator {
	visibility: visible;
}

.connect-screen--is-busy .btn--connect {
	visibility: hidden;
	pointer-events: none;
}


output {
	display: inline-block;
	border: 1px solid;
	padding: 0.5em;
	height: 1em;
	width: 5em;
}

.is-hidden {
	opacity: 0;
	pointer-events: none;
}
